.app-box
  min-width 1200px
  margin 0 auto
  font-family "Helvetica Neue","PingFang SC",Arial,sans-serif

.el-header
  position fixed
  top 0
  left 0
  right 0
  padding-left 300px!important
  z-index 1000
  min-width 1200px
  transition all 0.5s ease
  border-top solid 4px #20a0ff
  background-color #fff
  box-shadow 0 2px 4px 0 rgba(0,0,0,.12),0 0 6px 0 rgba(0,0,0,.04)

.el-main
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 800px;
  border: solid 40px #E9ECF1;
  background-color: #FCFCFC;

.main-left
  text-align center
  -webkit-box-flex 0
  -ms-flex 0 0 200px
  flex 0 0 200px

.main-right
  -webkit-box-flex 1
  -ms-flex 1
  flex 1
  background-color #fff
  padding: 50px 70px


.clear-fixed
  position relative
  height 60px
  width 100%



